## Introduction

In [1]:
import pyspark

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.read_csv('test1.csv')

      name  age
0   harsha   25
1   bhalla   25
2   naveen   27
3  pradeep   24
4  harshit   23

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [6]:
spark

In [7]:
df_pyspark=spark.read.csv('test1.csv')

In [10]:
df_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   name|age|
| harsha| 25|
| bhalla| 25|
| naveen| 27|
|pradeep| 24|
|harshit| 23|
+-------+---+

In [13]:
df_pyspark = spark.read.option('header','true').csv('test1.csv')

In [15]:
df_pyspark.show()

+-------+---+
|   name|age|
+-------+---+
| harsha| 25|
| bhalla| 25|
| naveen| 27|
|pradeep| 24|
|harshit| 23|
+-------+---+

In [16]:
df_pyspark.head(3)

[Row(name='harsha', age='25'),
 Row(name='bhalla', age='25'),
 Row(name='naveen', age='27')]

In [18]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)