In [11]:
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession

In [12]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [13]:
spark

In [14]:
df_pyspark = spark.read.csv('test1.csv',header=True,inferSchema=True)

In [15]:
df_pyspark.show()

+-------+----+----+
|   name| age| exp|
+-------+----+----+
| harsha|  25|   2|
| bhalla|  25|   3|
| naveen|  27|   5|
|pradeep|  24|null|
|harshit|  23|   5|
|   null|  25|   6|
|     kk|null|   4|
|    kll|null|   3|
+-------+----+----+

## filter operations

In [16]:
## people with age less that 25
df_pyspark.filter('age<=25').show()

+-------+---+----+
|   name|age| exp|
+-------+---+----+
| harsha| 25|   2|
| bhalla| 25|   3|
|pradeep| 24|null|
|harshit| 23|   5|
|   null| 25|   6|
+-------+---+----+

In [17]:
df_pyspark.filter('age<=25').select(['name','age']).show()

+-------+---+
|   name|age|
+-------+---+
| harsha| 25|
| bhalla| 25|
|pradeep| 24|
|harshit| 23|
|   null| 25|
+-------+---+

In [21]:
df_pyspark.filter('age<=25 and age>24').show()

+------+---+---+
|  name|age|exp|
+------+---+---+
|harsha| 25|  2|
|bhalla| 25|  3|
|  null| 25|  6|
+------+---+---+

In [24]:
df_pyspark.filter((df_pyspark['age']<=25) & (df_pyspark['exp']>3)).show()

+-------+---+---+
|   name|age|exp|
+-------+---+---+
|harshit| 23|  5|
|   null| 25|  6|
+-------+---+---+