In [1]:
import pandas as pd
import numpy as np
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [6]:
spark

In [12]:
# read dataset
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [13]:
##check the schema
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [14]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)

In [17]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [18]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [19]:

df_pyspark.columns

['name', 'age']

In [20]:
df_pyspark.head(3)

[Row(name='harsha', age=25),
 Row(name='bhalla', age=25),
 Row(name='naveen', age=27)]

In [24]:
df_pyspark.select('Name').show()

+-------+
|   Name|
+-------+
| harsha|
| bhalla|
| naveen|
|pradeep|
|harshit|
+-------+

In [25]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [26]:
df_pyspark.select(['Name','age']).show()

+-------+---+
|   Name|age|
+-------+---+
| harsha| 25|
| bhalla| 25|
| naveen| 27|
|pradeep| 24|
|harshit| 23|
+-------+---+

In [27]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int')]

In [28]:
df_pyspark.describe()

DataFrame[summary: string, name: string, age: string]

In [29]:
df_pyspark.describe().show()

+-------+-------+------------------+
|summary|   name|               age|
+-------+-------+------------------+
|  count|      5|                 5|
|   mean|   null|              24.8|
| stddev|   null|1.4832396974191329|
|    min| bhalla|                23|
|    max|pradeep|                27|
+-------+-------+------------------+

In [30]:
df_pyspark.withColumn('Age after 2 years',df_pyspark['age']+2).show()

+-------+---+-----------------+
|   name|age|Age after 2 years|
+-------+---+-----------------+
| harsha| 25|               27|
| bhalla| 25|               27|
| naveen| 27|               29|
|pradeep| 24|               26|
|harshit| 23|               25|
+-------+---+-----------------+

In [31]:
#add columns to the data frame
df_pyspark=df_pyspark.withColumn('Age after 2 years',df_pyspark['age']+2)

In [32]:
df_pyspark.show()

+-------+---+-----------------+
|   name|age|Age after 2 years|
+-------+---+-----------------+
| harsha| 25|               27|
| bhalla| 25|               27|
| naveen| 27|               29|
|pradeep| 24|               26|
|harshit| 23|               25|
+-------+---+-----------------+

In [36]:
df_pyspark.describe().show()

+-------+-------+------------------+------------------+
|summary|   name|               age| Age after 2 years|
+-------+-------+------------------+------------------+
|  count|      5|                 5|                 5|
|   mean|   null|              24.8|              26.8|
| stddev|   null|1.4832396974191329|1.4832396974191329|
|    min| bhalla|                23|                25|
|    max|pradeep|                27|                29|
+-------+-------+------------------+------------------+

In [39]:
# drop the columns
df_pyspark=df_pyspark.drop('Age after 2 years')

In [40]:
df_pyspark.show()

+-------+---+
|   name|age|
+-------+---+
| harsha| 25|
| bhalla| 25|
| naveen| 27|
|pradeep| 24|
|harshit| 23|
+-------+---+

In [42]:
## rename the column
df_pyspark.withColumnRenamed('name','new name').show()

+--------+---+
|new name|age|
+--------+---+
|  harsha| 25|
|  bhalla| 25|
|  naveen| 27|
| pradeep| 24|
| harshit| 23|
+--------+---+